 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




 .to-do {
     width: 26vw;
     border: 1px solid #888585;
     border-radius: 10px;

 }

 .header {
     height: 28px;
     background-color: #f3cd28;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }

 h2 {
     font-family: "Montserrat", italic;
     font-weight: 700;
     text-align: center;
 }

 .sort {
     width: 2vw;
     display: block;
     margin-left: 22vw;
     margin-bottom: 10px;
 }

 .list {
     width: 22vw;
     border: 1px solid #C4C4C4;
     border-radius: 10px;
     margin-left: 2vw;
     padding: 0;
     list-style-type: none;
 }

 .add-btn {
     width: 12vw;
     margin-left: 7vw;
     margin-top: 19px;
     margin-bottom: 19px;
 }

 .input,
 .new-input {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top: 2px;
     margin-bottom: 2px;
 }

 .do-input,
 .new-do {
     width: 20vw;
     height: 35px;
     border: none;

 }

 .do-input {
     border-radius: 10px;
 }

 .delete-icon,
 .new-delete {
     width: 1.5vw;
     height: 1.5vw;
 }

 main {
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     height: 100vh;
 }